<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <appSettings>
    <!--<add key="WebSocketServerURL" value="ws://quizbuzz.azurewebsites.net/WebSocketServer/WebSocketServer.ashx"/>-->
    <add key="WebSocketServerURL" value="ws://localhost:54086//WebSocketServer/WebSocketServer.ashx"/>
  </appSettings>
</configuration>