body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 24px;
    text-transform: uppercase;
}

#Timer, #TimerOuter {
    position: absolute;
    right: 30px;
    top: 40px;
}
#Timer {
    right: 40px;
    top: 50px;
}

#Question {
    top: 0;
    border: 10px solid;
    border-radius: 20px;
    border-color: darkblue;
    min-height: 40px;
    padding: 40px;
    padding-left: 20px;
    padding-right: 120px;
    margin-top: 20px;
    display: flex;
}

#PlayerScores {
    margin: 0 auto;
}

#Players {
    position: absolute;
    bottom: 0;
}
.Player {
    border: 5px solid;
    border-color: darkgray;
    border-radius: 10px;
    margin: 5px;
    width: 90px;
    padding: 10px;
    font-size: 18px;
}
    .Player div {
        text-align: center;
    }
    .Player.Active {
        border-color: darkblue;
    }
    .Player.Wrong {
        border-color: #444444;
        color: #444444;
    }

#btnOK {
    margin:0 auto;
    margin-top: 20px;
    border: 8px solid;
    border-color: red;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    min-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#Answers {
    list-style: none;
    padding: 0;
    width: 50%;
    margin-top: 50px;
}
    #Answers li {
        border: 10px solid;
        border-radius: 20px;
        min-height: 20px;
        display: flex;
        padding: 20px;
        margin-bottom: 20px;
        cursor: pointer;
    }
    #Answers li.Wrong {
        border-color: #444444;
        color: #444444;
    }

li#BLUE, .Player.BLUE {
    border-color: dodgerblue
}
li#ORANGE, .Player.ORANGE {
    border-color: orange
}
li#GREEN, .Player.GREEN {
    border-color: limegreen
}
li#YELLOW, .Player.YELLOW {
    border-color: yellow
}

#centered_container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#trivia_settings {
    display: block;
    margin: 0 auto;
    /*border: 1px solid white;
    border-radius: 20px;*/
    padding: 20px;
    padding-top: 30px;
}
    #trivia_settings select, #trivia_settings input {
        height: 35px;
        min-width: 300px;
        max-width: 300px;
        display: block;    
        border-width: 0;
        border-spacing: 0;
        padding: 0;
        padding-left: 5px;
        margin-bottom: 20px;
        font-size: 16px;
    }
    #trivia_settings label {
        margin-top: 15px;
    }